{% extends 'base2.html'%}
{% load staticfiles %}


{% block content %}

  <h1 class="stylish-seniors"> Stylish Seniors</h1>


    <div class="container">
        <div class="col-sm-12 col-md-12 col-lg-12">


        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                <li data-target="#carousel-example-generic" data-slide-to="7"></li>
                <li data-target="#carousel-example-generic" data-slide-to="8"></li>
                <li data-target="#carousel-example-generic" data-slide-to="9"></li>
                <li data-target="#carousel-example-generic" data-slide-to="10"></li>
                <li data-target="#carousel-example-generic" data-slide-to="11"></li>
                <li data-target="#carousel-example-generic" data-slide-to="12"></li>
                <li data-target="#carousel-example-generic" data-slide-to="13"></li>
                <li data-target="#carousel-example-generic" data-slide-to="14"></li>
              </ol>

              <!-- Wrapper for slides -->
                   <div class="carousel-inner" role="listbox">

                        <!-- Second slide -->
                        <div class="item active">
                            <div><img class="seniors" src="{% static '300/IMG_0289_300.jpg' %}" class="img-responsive" alt="stylish senior"></div>
                        </div>

                        <!-- Third slide -->
                        <div class="item">
                         <div><img class="seniors" src="{% static '300/IMG_0123_300.jpg' %}" class="img-responsive" alt="stylish senior"></div>
                        </div><!-- /.item -->

                        <!-- Fourth slide -->
                        <div class="item">
                          <div><img class="seniors" src="{% static '300/brown.jpeg' %}" class="img-responsive" alt="stylish senior"></div>
                        </div><!-- /.item -->

                        <!-- Fifth slide -->
                        <div class="item">
                            <div><img class="seniors" src="{% static '300/brown2.jpeg' %}" class="img-responsive" alt="stylish senior"></div>
                        </div><!-- /.item -->

                        <!-- Sixth slide -->
                        <div class="item">
                           <div><img class="seniors" src="{% static '300/brown3.jpeg' %}" class="img-responsive" alt="stylish senior"></div>
                        </div><!-- /.item -->

                        <!-- Seventh slide -->
                        <div class="item">
                            <div> <img class="seniors" src="{% static '300/IMG_1163_300.jpg' %}" class="img-responsive" alt="stylish senior"></div>
                        </div><!-- /.item -->

                        <!-- Eighth slide -->
                        <div class="item">
                           <div><img class="seniors" src="{% static '300/IMG_4398_300.jpg' %}" class="img-responsive" alt="stylish senior"></div>
                        </div>

                          <!-- Ninth slide -->
                        <div class="item">
                           <div><img class="seniors" src="{% static '300/IMG_1302_300.jpg' %}" class="img-responsive" alt="stylish senior"></div>
                        </div>

                          <!-- Tenth slide -->
                        <div class="item">
                           <div><img class="seniors" src="{% static '300/IMG_8089_300.jpeg' %}" class="img-responsive" alt="stylish senior"></div>
                        </div>
                          <!-- Eleventh slide -->
                        
                        <div class="item">
                           <div><img class="seniors" src="{% static '300/IMG_5495_300.jpg' %}" class="img-responsive"alt="stylish senior"></div>
                        </div>
                          <!-- Twelveth slide -->

                        <div class="item">
                           <div><img class="seniors" src="{% static '300/IMG_2156_300.jpg' %}" class="img-responsive" alt="stylish senior"></div>
                        </div>
                        

                          <!-- Thirteenth slide -->
                        <div class="item">
                           <div><img class="seniors" src="{% static '300/IMG_7222_300.jpeg' %}" class="img-responsive" alt="stylish senior"></div>
                        </div>

                         <!-- Fourteenth slide -->
                        <div class="item">
                           <div> <img class="seniors" src="{% static '300/IMG_1423_300.jpeg' %}" class="img-responsive" alt="stylish senior"></div>
                        </div>

                        <!-- Fifteenth slide -->
                        <div class="item">
                         <div><img class="seniors" src="{% static '300/IMG_7325_300.jpeg' %}" class="img-responsive" alt="stylish senior"></div>
                        </div><!-- /.item -->

                        <div class="item">
                         <div><img class="seniors" src="{% static '300/IMG_1290_1_300.jpg'%}" class="img-responsive" alt="stylish senior"></div>
                        </div>

                        </div><!-- /.item -->
                        
                    </div>

        </div>


  <br/>
  <br/>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic"
     role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic"
     role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div><!-- /.carousel -->

<br/>
<br/>

<a class="senior_button" href="/"><button class="btn btn-default">Return to Main Page</button></a>
        
            <img class="seniors" src="{% static '300/IMG_0289_300.jpg' %}" class="img-responsive" alt="stylish senior">
            <img class="seniors" src="{% static '300/IMG_0123_300.jpg' %}" class="img-responsive" alt="stylish senior">
            

            <img class="seniors" src="{% static '300/brown.jpeg' %}" class="img-responsive" alt="stylish senior">
            <img class="seniors" src="{% static '300/brown2.jpeg' %}" class="img-responsive" alt="stylish senior">
            <img class="seniors" src="{% static '300/brown3.jpeg' %}" class="img-responsive" alt="stylish senior">

            <img class="seniors" src="{% static '300/IMG_1163_300.jpg' %}" class="img-responsive" alt="stylish senior">

            <img class="seniors" src="{% static '300/IMG_4398_300.jpg' %}" class="img-responsive" alt="stylish senior">

            <img class="seniors" src="{% static '300/IMG_1302_300.jpg' %}" class="img-responsive" alt="stylish senior">

           
            <img class="seniors" src="{% static '300/IMG_8089_300.jpeg' %}" class="img-responsive" alt="stylish senior">

            <img class="seniors" src="{% static '300/IMG_5495_300.jpg' %}" class="img-responsive" alt="stylish senior">
            <img class="seniors" src="{% static '300/IMG_2156_300.jpg' %}" class="img-responsive" alt="stylish senior">
            <img class="seniors" src="{% static '300/IMG_7222_300.jpeg' %}" class="img-responsive" alt="stylish senior">
            <img class="seniors" src="{% static '300/IMG_1423_300.jpeg' %}" class="img-responsive" alt="stylish senior">
            <img class="seniors" src="{% static '300/IMG_7325_300.jpeg' %}" class="img-responsive" alt="stylish senior">
            <img class="seniors" src="{% static '300/IMG_1290_1_300.jpg'%}" class="img-responsive" alt="stylish senior">
            

            
             
    </div>
</div>


{% endblock %}