{% extends 'base2.html' %}
{% load staticfiles %}

{% block content %}

     <h1 class="updo">Updo's</h1>

        <div class="container">
          <div class="col-sm-12 col-md-12 col-lg-12">

           <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
              </ol>

              <!-- Wrapper for slides -->
                   <div class="carousel-inner" role="listbox">

                      <!-- Short Styles -->

                        <div class="item active">
                           <div><img class="hip" src="{% static '300/IMG_9734_300.jpeg' %}" class="img-responsive" alt="updo"></div>
                        </div>

                        <div class="item">
                           <div><img class="hip" src="{% static '300/IMG_9206_300.jpeg' %}" class="img-responsive" alt="updo"> </div>
                        </div>

                         <div class="item">
                           <div><<img class="hip" src="{% static '300/IMG_4284_300.jpg' %}" class="img-responsive" alt="updo"></div>
                        </div>

                         
                        </div><!-- /.item -->

                        
                    </div>

        </div>


  <br/>
  <br/>

    <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic"
     role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic"
     role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div><!-- /.carousel -->

<br/>
<br/>
               
<a class="senior_button" href="/"><button class="btn btn-default">Return to main page</button></a>

                  


                    <img class="hip" src="{% static '300/IMG_9734_300.jpeg' %}" class="img-responsive" alt="updo">
                    <img class="hip" src="{% static '300/IMG_9206_300.jpeg' %}" class="img-responsive" alt="updo"> 
                    <img class="hip" src="{% static '300/IMG_4284_300.jpg' %}" class="img-responsive" alt="updo">
                    
               
          </div>
     </div>
       







{% endblock %}