{% extends 'base2.html'%}
{% load staticfiles%}


{% block content %}
     <h1 class="young-pics">Cuts & Colors</h1>

    


  <div class="container">
          <div class="col-sm-12 col-md-12 col-lg-12">

           <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                <li data-target="#carousel-example-generic" data-slide-to="7"></li>
                <li data-target="#carousel-example-generic" data-slide-to="8"></li>
                <li data-target="#carousel-example-generic" data-slide-to="9"></li>
                <li data-target="#carousel-example-generic" data-slide-to="10"></li>
                <li data-target="#carousel-example-generic" data-slide-to="11"></li>
                <li data-target="#carousel-example-generic" data-slide-to="12"></li>
                <li data-target="#carousel-example-generic" data-slide-to="13"></li>
                <li data-target="#carousel-example-generic" data-slide-to="14"></li>
                <li data-target="#carousel-example-generic" data-slide-to="15"></li>
                <li data-target="#carousel-example-generic" data-slide-to="16"></li>
                <li data-target="#carousel-example-generic" data-slide-to="17"></li>
                <li data-target="#carousel-example-generic" data-slide-to="18"></li>
                <li data-target="#carousel-example-generic" data-slide-to="19"></li>
                <li data-target="#carousel-example-generic" data-slide-to="20"></li>
                <li data-target="#carousel-example-generic" data-slide-to="21"></li>
                <li data-target="#carousel-example-generic" data-slide-to="22"></li>
                <li data-target="#carousel-example-generic" data-slide-to="23"></li>
                <li data-target="#carousel-example-generic" data-slide-to="24"></li>
                <li data-target="#carousel-example-generic" data-slide-to="25"></li>
              </ol>

              <!-- Wrapper for slides -->
                   <div class="carousel-inner" role="listbox">

                    <!---Cute Pics -->

                     <div class="item active">
                           <div><img class="hip" src="{% static '300/jillian.png' %}" class="img-responsive" alt="color blonde"></div>
                      </div>

                      <div class="item">
                           <div><img class="hip" src="{% static '300/janel.png' %}" class="img-responsive" alt="color blonde"></div>
                        </div>

                        <div class="item">
                           <div><img class="hip" src="{% static '300/sexy.JPG' %}" class="img-responsive" alt="cut and color"></div>
                        </div>
                      <!-- Short Styles -->

                        <div class="item">
                           <div><img class="hip" src="{% static '300/IMGP0836.JPG' %}" class="img-responsive" alt="cut and color"></div>
                        </div>


                         <div class="item">
                           <div><img class="hip" src="{% static '300/IMGP0828.JPG' %}" class="img-responsive" alt="cut and color"></div>
                        </div>

                         <div class="item">
                           <div><img class="hip" src="{% static '300/IMGP0832.JPG' %}" class="img-responsive" alt="cut and color"></div>
                        </div>

                       
                        


                        <div class="item">
                           <div><img class="hip" src="{% static '300/short_hair3.jpg' %}" class="img-responsive" alt="short haircut"></div>
                        </div>

                       

                      <!-- Bangs -->   

                        <div class="item">
                           <div><img class="hip" src="{% static '300/bangs.jpg' %}" class="img-responsive" alt="bangs"></div>
                        </div>

                         <div class="item">
                           <div><img class="hip" src="{% static '300/bangs2.jpg' %}" class="img-responsive" alt="bangs"></div>
                        </div>

          


                        <!-- Old List -->

                        <!-- Second slide -->
                        <div class="item">
                            <div><img class="hip" src="{% static '300/IMG_9100_300.jpg' %}" class="img-responsive"></div>
                        </div>

                        <!-- Third slide -->
                        <div class="item">
                              <div><img class="hip" src="{% static '300/IMG_8398_300.jpeg' %}" class="img-responsive"></div>
                        </div><!-- /.item -->

                        <!-- Fourth slide -->
                        <div class="item">
                              <div><img class="hip" src="{% static '300/IMG_4997_300.jpg' %}" class="img-responsive"></div>
                        </div><!-- /.item -->

                        <!-- Fifth slide -->
                        <div class="item">
                           <div><img class="hip" src="{% static '300/IMG_4772_300.jpg' %}" class="img-responsive"></div>
                        </div><!-- /.item -->

                        <!-- Sixth slide -->
                        <div class="item">
                           <div><img class="hip" src="{% static '300/IMG_9206_300.jpeg' %}" class="img-responsive"></div>
                        </div><!-- /.item -->

                        <!-- Seventh slide -->
                        <div class="item">
                            <div><img class="hip" src="{% static '300/IMG_9734_300.jpeg' %}" class="img-responsive"></div>
                        </div><!-- /.item -->

                        <!-- Eighth slide -->
                        <div class="item">
                           <div><img class="hip" src="{% static '300/IMG_4284_300.jpg' %}" class="img-responsive"></div>
                         </div>

                          <!-- Ninth slide -->
                        <div class="item">
                           <div><img class="hip" src="{% static '300/IMG_4119_300.jpg' %}" class="img-responsive"></div>
                        </div>

                         <div class="item">
                           <div><img class="hip" src="{% static '300/long.jpeg' %}" class="img-responsive"></div>
                        </div>

                          <!-- Tenth slide -->
                        <div class="item">
                           <div><img class="hip" src="{% static '300/IMG_1455_300.jpeg' %}" class="img-responsive"></div>
                        </div>

                          <!-- Eleventh slide -->
                        <div class="item">
                          <div><img class="hip" src="{% static '300/IMG_2035_300.jpg' %}" class="img-responsive"></div>
                        </div>

                          <!-- Twelveth slide -->
                        <div class="item">
                          <div><img class="hip" src="{% static '300/IMG_1822_300.jpg' %}" class="img-responsive"></div>
                        </div>

                          <!-- Thirteenth slide -->
                        <div class="item">
                           <div><img class="hip" src="{% static '300/IMG_3083_300.jpg' %}" class="img-responsive"></div>
                        </div>

                         <!-- Fourteen slide -->
                        <div class="item">
                           <div><img class="hip" src="{% static '300/blonde_lady.jpeg' %}" class="img-responsive"></div>
                        </div>

                         <!-- FiFthteen slide -->
                        <div class="item">
                           <div><img class="hip" src="{% static '300/blonde_lady2.jpeg' %}" class="img-responsive"></div>
                        </div>

                         <!-- Sixthteen slide -->
                        <div class="item">
                           <div><img class="hip" src="{% static '300/blonde_lady3.jpg' %}" class="img-responsive"></div>
                        </div>

                        <!-- Seventeen slide -->
                        <div class="item">
                           <div> <img class="hip" src="{% static '300/red.jpeg' %}" class="img-responsive"></div>
                        </div>
                        </div><!-- /.item -->

                        
                    </div>

        </div>


  <br/>
  <br/>

    <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic"
     role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic"
     role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div><!-- /.carousel -->

<br/>
<br/>
               
<a class="senior_button" href="/"><button class="btn btn-default">Return to main page</button></a>

                    <img class="hip" src="{% static '300/sexy.JPG' %}" class="img-responsive">
                    <img class="hip" src="{% static '300/jillian.png' %}" class="img-responsive">
                    <img class="hip" src="{% static '300/janel.png' %}" class="img-responsive">

                    <img class="hip" src="{% static '300/bangs.jpg' %}" class="img-responsive">
                    <img class="hip" src="{% static '300/bangs2.jpg' %}" class="img-responsive">
                    
                   
                    <img class="hip" src="{% static '300/short_hair3.jpg' %}" class="img-responsive">
                    <img class="hip" src="{% static '300/IMGP0828.JPG' %}" class="img-responsive">
                    <img class="hip" src="{% static '300/IMGP0832.JPG' %}" class="img-responsive">
                
                    <img class="hip" src="{% static '300/IMGP0836.JPG' %}" class="img-responsive">


                    <img class="hip" src="{% static '300/IMG_0236.jpg' %}" class="img-responsive">
                    
                    
               
                    
                              


                    <img class="hip" src="{% static '300/IMG_9100_300.jpg' %}" class="img-responsive">
                    <img class="hip" src="{% static '300/IMG_8398_300.jpeg' %}" class="img-responsive">
                    <img class="hip" src="{% static '300/IMG_4997_300.jpg' %}" class="img-responsive">
                    <img class="hip" src="{% static '300/IMG_4772_300.jpg' %}" class="img-responsive">
                    <img class="hip" src="{% static '300/IMG_9206_300.jpeg' %}" class="img-responsive">
                    <img class="hip" src="{% static '300/IMG_9734_300.jpeg' %}" class="img-responsive">
                    <img class="hip" src="{% static '300/IMG_4284_300.jpg' %}" class="img-responsive">
                    <img class="hip" src="{% static '300/IMG_4119_300.jpg' %}" class="img-responsive">
                    <img class="hip" src="{% static '300/long.jpeg' %}" class="img-responsive">
                    <img class="hip" src="{% static '300/IMG_1455_300.jpeg' %}" class="img-responsive">
                    
                    <img class="hip" src="{% static '300/IMG_2035_300.jpg' %}" class="img-responsive">
                    <img class="hip" src="{% static '300/IMG_1822_300.jpg' %}" class="img-responsive">
                    <img class="hip" src="{% static '300/IMG_3083_300.jpg' %}" class="img-responsive">

                    <img class="hip" src="{% static '300/blonde_lady.jpeg' %}" class="img-responsive">
                    <img class="hip" src="{% static '300/blonde_lady2.jpeg' %}" class="img-responsive">
                    <img class="hip" src="{% static '300/blonde_lady3.jpg' %}" class="img-responsive">

                    <img class="hip" src="{% static '300/red.jpeg' %}" class="img-responsive">


               
          </div>
     </div>
       

{% endblock %}

